<!DOCTYPE html>
<html
	lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/guest}"
>
<head>
	<title>ログイン</title>
</head>
<body>
	<div layout:fragment="content">

		<div th:replace="~{components/auth-card :: layout(~{ :: logo}, ~{ :: slot})}">

			<div th:fragment="logo" th:remove="tag">

				<a th:href="@{/}">
					<img th:replace="~{components/application-logo :: logo(class='w-48')}"></img>
				</a>

			</div>

			<div th:fragment="slot" th:remove="tag">

				<div th:replace="~{components/auth-card :: validation-errors}"></div>

				<form method="post" th:action="@{/login}">
					<div>
						<label for="email" th:text="メールアドレス" th:class="${classForLabel}"></label>
						<input type="email" name="email" required autofocus th:class="${classForInput} + ' block mt-1 w-full'">
					</div>
					<div class="mt-4">
						<label for="password" th:text="パスワード" th:class="${classForLabel}"></label>
						<input type="password" name="password" required th:class="${classForInput} + ' block mt-1 w-full'">
					</div>
					<div class="flex items-center justify-end mt-4">
						<button th:class="${classForButton} + ' ml-3'" th:text="ログイン"></button>
					</div>
				</form>
			</div>

		</div>

	</div>
</body>
</html>
