<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/app}"
>
<head>
	<title>就職者さんデータ編集フォーム</title>
</head>
<body>
	<span layout:fragment="header">就職者さんデータ入力フォーム</span>

	<div layout:fragment="content">

		<nav class="max-w-4xl mx-auto">
			<ul class="flex text-center">
				<li class="flex-1 py-2 rounded-t-md text-sm font-medium"
					th:classappend="${workForm == null} ? 'bg-white' : 'bg-gray-200 text-gray-400 hover:text-gray-700'"
				>
					<a th:href="@{/admin/job-finders/{id}/edit(id=${jobFinder.id})}"
						th:text="${jobFinder.name} + 'さんについて'"
					></a>
				</li>

				<li th:each="work: ${jobFinder.works}"
					class="flex-1 py-2 rounded-t-md text-sm font-medium"
					th:classappend="${workForm != null && workForm.id == work.id} ? 'bg-white' : 'bg-gray-200 text-gray-400 hover:text-gray-700'"
				>
					<a th:href="@{/admin/job-finders/{id}/works/{workId}/edit(id=${jobFinder.id},workId=${work.id})}"
						th:text="'作品「' + ${work.content} + '」'"
					></a>
				</li>

				<li class="flex-1 py-2 rounded-t-md text-sm font-medium"
					th:classappend="${workForm != null && workForm.id == null} ? 'bg-white' : 'bg-gray-200 text-gray-400 hover:text-gray-700'"
				>
					<a th:href="@{/admin/job-finders/{id}/works/create(id=${jobFinder.id})}"
						th:text="ポートフォリオ追加"
					></a>
				</li>
			</ul>
		</nav>

		<div th:if="${workForm} == null">
			<div th:replace="~{components/job-finder :: form}"></div>
		</div>
		<div th:unless="${workForm} == null">
			<div th:replace="~{components/portfolio :: form}"></div>
		</div>
	</div>
</body>
</html>
