<div
	th:fragment="normal(title, href)"
	th:remove="tag"
	th:with="class=(
		${href == #request.getRequestURI()}
		? 'inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out'
		: 'inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out'
	)"
>
	<div th:replace="~{ :: link(${title}, ${href}, ${class})}"></div>
</div>

<div
	th:fragment="responsible(title, href)"
	th:remove="tag"
>
	<div th:replace="~{ :: responsible-with-class(${title}, ${href}, '')}"></div>
</div>

<div
	th:fragment="responsible-right(title, href)"
	th:remove="tag"
>
	<div th:replace="~{ :: responsible-with-class(${title}, ${href}, 'text-right')}"></div>
</div>

<div
	th:fragment="responsible-logout"
	th:remove="tag"
>
	<a
		class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
		onclick="event.preventDefault(); this.closest('form').submit();"
	>
		ログアウト
	</a>
</div>

<div
	th:fragment="responsible-with-class(title, href, class)"
	th:remove="tag"
	th:with="classes=(
		${href == #request.getRequestURI()}
		? '__${class}__ block pl-3 pr-4 py-2 border-l-4 border-indigo-400 text-base font-medium text-indigo-700 bg-indigo-50 focus:outline-none focus:text-indigo-800 focus:bg-indigo-100 focus:border-indigo-700 transition duration-150 ease-in-out'
		: '__${class}__ block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out'
	)"
>
	<div th:replace="~{ :: link(${title}, ${href}, ${classes})}"></div>
</div>

<div
	th:fragment="link(title, href, class)"
	th:remove="tag"
>
	<a
		th:class="${class}"
		th:href="${href}"
		th:text="${title}"
	></a>
</div>
