<div th:fragment="pagination(paginator)" th:remove="tag">
	<nav role="navigation" aria-label="Pagination Navigation" class="flex items-center justify-between">
		<div class="flex justify-between flex-1 sm:hidden">
			<th:block th:if="${paginator.getCurrentPage() == 1}">
				&laquo; 前へ
			</th:block>
			<a th:unless="${paginator.getCurrentPage() == 1}"
				th:href="${paginator.getPath()} + '?' + ${paginator.getQueryWithPage(paginator.getCurrentPage() - 1)}"
				class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
			>
				&laquo; 前へ
			</a>

			<th:block th:if="${paginator.getCurrentPage() == paginator.getLastPage()}">
				次へ &raquo;
			</th:block>
			<a th:unless="${paginator.getCurrentPage() == paginator.getLastPage()}"
				th:href="${paginator.getPath()} + '?' + ${paginator.getQueryWithPage(paginator.getCurrentPage() + 1)}"
				class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
			>
				次へ &raquo;
			</a>
		</div>

		<div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
			<div>
				<p class="text-sm text-gray-700 leading-5">
					Showing
					<span class="font-medium" th:text="${paginator.getCurrentItemFrom()}"></span>
					to
					<span class="font-medium" th:text="${paginator.getCurrentItemTo()}"></span>
					of
					<span class="font-medium" th:text="${paginator.getTotal()}"></span>
					results
				</p>
			</div>

			<div>
				<span class="relative z-0 inline-flex shadow-sm rounded-md">
					<span th:if="${paginator.getCurrentPage() == 1}"
						aria-disabled="true" aria-label="&amp;laquo; 前へ"
					>
						<span class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default rounded-l-md leading-5" aria-hidden="true">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
								<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
							</svg>
						</span>
					</span>
					<a th:unless="${paginator.getCurrentPage() == 1}"
						th:href="${paginator.getPath()} + '?' + ${paginator.getQueryWithPage(paginator.getCurrentPage() - 1)}"
						rel="prev" class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md leading-5 hover:text-gray-400 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="&amp;laquo; 前へ"
					>
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
							<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
						</svg>
					</a>

					<th:block th:each="i : ${#numbers.sequence(1, paginator.getLastPage())}">
						<th:block th:if="${paginator.isOmitted(i)}">
							<span th:if="${paginator.isEllipsis(i)}" aria-disabled="true">
								<span class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 cursor-default leading-5">...</span>
							</span>
						</th:block>
						<th:block th:unless="${paginator.isOmitted(i)}">
							<span th:if="${paginator.getCurrentPage() == i}" aria-current="page">
								<span class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5"
									th:text="${i}"
								>
								</span>
							</span>
							<a th:unless="${paginator.getCurrentPage() == i}"
								th:href="${paginator.getPath()} + '?' + ${paginator.getQueryWithPage(i)}"
								class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 hover:text-gray-500 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150" aria-label="Go to page 1"
								th:text="${i}"
							></a>
						</th:block>
					</th:block>

					<span th:if="${paginator.getCurrentPage() == paginator.getLastPage()}"
						aria-disabled="true" aria-label="次へ &amp;raquo;"
					>
						<span class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium text-gray-400 bg-white border border-gray-300 rounded-r-md leading-5" aria-hidden="true">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
								<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
							</svg>
						</span>
					</span>
					<a th:unless="${paginator.getCurrentPage() == paginator.getLastPage()}"
						th:href="${paginator.getPath()} + '?' + ${paginator.getQueryWithPage(paginator.getCurrentPage() + 1)}"
						rel="next" class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md leading-5 hover:text-gray-400 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="次へ &amp;raquo;">
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
						</svg>
					</a>
				</span>
			</div>
		</div>
	</nav>
</div>
